/* Global Style declaration */
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    border: 0px;
}

/* Responsive Images declaration */

img {
    width:100%;
}

/* general stylesheet  */

body {
    background-color: #f1f1f1
}
.container
{
    margin:60px auto 0px;
    max-width: 900px;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 120px 200px;
}
header{
    text-align: center;
}
header h1 {
    font-family: 'Charm', cursive;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 4rem;
    border-bottom:3px solid rgba(0,0,0, 0.4);
    padding: 5px;
}
.priority_tasks h3 {
    display: inline-block;
    margin:0.7rem;
    border: 2px solid red;
    padding: 9px;
}